* {
    box-sizing: border-box;
}
h1 {
    color: deeppink; background-color: gold;
    font-size: 50px;
}
.antra{
    color: dodgerblue;
    padding: 16px;
}
p{
    background-color: rgb(216, 170, 193);
    font-weight: bold;
    font-style: oblique 20deg;
    border: 3px solid brown;
}
a{
    background-color: khaki;
}
.galerija {
    background-color: burlywood;
    padding: 50px;
    width: 100%;
    
}
div.galerija img {
    text-align: center;
    border: 5px solid black;
    padding: 15px;
    background-color: rgb(169, 148, 189);
    box-shadow: grey 5px 5px 10px;
}
.container{
    width: 70%;
    background-color: gray;
    margin-left: auto;
    margin-right: auto;
}
.flex{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
.box{
    width: 30%;
    height: 200px;
    background-color: olive;


}
.box img{
    border-radius: 50%;
    width: 80%;
}
.box p {
    background-color: transparent;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

}
header h2 {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
header img {
    width: 100%;
}